.sx-custom-calendar .sx-react-calendar-wrapper,
.sx-custom-calendar .sx__calendar-wrapper {
  height: 100% !important;
  width: 100% !important;
}

.sx-custom-calendar {
  color: #334155 !important;
  --sx-color-on-surface: #334155;
  --sx-color-neutral: #64748b;
  --sx-color-neutral-variant: #94a3b8;
}

.sx-custom-calendar .sx__today-button {
  background-color: #f3f4f6 !important;
  color: #608b99 !important;
  border: 1px solid #89a8b2 !important;
  font-weight: 600;
  transition: all 0.2s ease;
  border-radius: 0.5rem;
  padding: 0px 16px;
}

.sx-custom-calendar .sx__today-button:hover {
  background-color: #89a8b2 !important;
  color: #ffffff !important;
}

.sx-custom-calendar .sx__chevron-wrapper {
  background-color: transparent !important;
  border: none !important;
  transition: all 0.2s;
  box-shadow: none !important;
}

.sx-custom-calendar .sx__chevron-wrapper .sx__chevron {
  border-color: #89a8b2 !important;
  transition: all 0.2s;
}

.sx-custom-calendar .sx__chevron-wrapper:hover .sx__chevron {
  border-color: #608b99 !important;
}

.sx-custom-calendar .sx__month-grid-day__header-date {
  color: #608b99 !important;
  font-weight: 500;
}

.sx-custom-calendar .sx__month-grid-day__header-date.sx__is-today {
  background-color: #89a8b2 !important;
  color: #ffffff !important;
}

.sx-custom-calendar .sx__month-grid-day.is-leading-or-trailing {
  background-color: #f1f5f9 !important;
}

.sx-custom-calendar .sx__month-grid-day.is-leading-or-trailing .sx__month-grid-day__header-date {
  color: #cbd5e1 !important;
}
               