spring:
  application:
    name: event-management-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/event_management
    username: postgres
    password:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: your-secret-key-must-be-at-least-256-bits-long-for-hs512
  access-token-expiration: 900000 # 15 phút
  refresh-token-expiration: 604800000 # 7 ngày

server:
  port: 8080
